.container {
    display: flex;
    flex-direction: row;
    width: 1440px;
  }

body {
    background-color: #e20000;
}
.col-left {
    position: relative;
    /* -webkit-mask-image: url(../public/Jar-mask.svg); */
    mask-image: url(../public/Jar-mask.svg);
   /*  -webkit-mask-repeat: no-repeat; */
    mask-repeat: no-repeat;
  }
  
.col-left svg {
    position: absolute;
    left: 0%;
  }

.col-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 850px;
  }

.title div {
  font-size: 30px;
  font-weight: bold;
  background-color: #9ac8e9;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  padding: 45px 90px 45px 90px;
}

* citationText */

.citationText {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: #9ac8e9;
  height: 90%;
  align-items: center;
  padding: 15px 10px 15px 10px;
  flex-grow: 1;
}

.citationText .arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid white;
  cursor: pointer;
}

.citationText .arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  cursor: pointer;
}

.citationText .content {
  flex-grow: 100;
  font-size: 18px;
  padding: 10px;
}

/* tooltip */
.tooltip {
  position: absolute;
  padding: 8px 16px 8px 16px;
  background-color: lightgray;
  border-radius: 4px;
  width: 200px;
  border: 1px solid black;
}