.container {
  display: flex;
  flex-direction: row;
  width: 1440px;
}

.col-left {
  position: relative;
  -webkit-mask-image: url(../assets/Jar-mask.svg);
  mask-image: url(../assets/Jar-mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.col-left svg {
  position: absolute;
  left: 0%;
}

.col-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 850px;
}

/*  */
.title div {
  font-size: 30px;
  font-weight: bold;
  background-color: #9ac8e9;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  padding: 45px 90px 45px 90px;
}

/*  */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
/* citationText */

.citationText {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: #9ac8e9;
  height: 90%;
  align-items: center;
  padding: 15px 10px 15px 10px;
  flex-grow: 1;
}

.citationText .arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid white;
  cursor: pointer;
}

.citationText .arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  cursor: pointer;
}

.citationText .content {
  flex-grow: 100;
  font-size: 18px;
  padding: 10px;
}

/* calendar */
.calendar {
  margin: auto;
  position: relative;
}

.calendar .year-slider {
  position: absolute;
  top: 25%;
  left: 0%;
}

/* pipes */
.pipes {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  left: -17px;
  top: -30px;
}

/* tooltip */
.tooltip {
  position: absolute;
  padding: 8px 16px 8px 16px;
  background-color: lightgray;
  border-radius: 4px;
  width: 200px;
  border: 1px solid black;
}

/* draggable */
.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* rotate */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/* hint */
.hint {
  position: absolute;
  top: 80%;
  left: 50%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
